<phpunit bootstrap="./autoload.php">
  <testsuites>
    <testsuite name="Utilities">
      <directory>tests/Utils</directory>
    </testsuite>
    <testsuite name="Sites">
      <directory>tests/Site</directory>
    </testsuite>
    <testsuite name="MediaFiles">
      <directory>tests/MediaFile</directory>
    </testsuite>
    <testsuite name="Core">
      <directory>tests/Core</directory>
    </testsuite>
  </testsuites>
</phpunit>
